name: CI Workflow

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: ara
          environment-file: environment.yml
          python-version: 3.12
          channels: conda-forge,defaults

      - name: Verify environment
        run: |
          conda info
          conda list

      - name: Lint with Ruff
        run: |
          conda run -n ara ruff check . --output-format=full
