name: CI Workflow

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint with Ruff
        run: |
          make lint

      - name: Run tests with pytest
        run: |
          make test
