name: CI Workflow

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

env:
  MAKE_DIR: .

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint with Ruff
        run: make -C "${{ env.MAKE_DIR }}" lint

      - name: Run tests with pytest
        run: make -C "${{ env.MAKE_DIR }}" test
