name: CI Workflow

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          cache-downloads: true
          cache-env: true
          micromamba-version: latest

      - name: Verify environment
        run: micromamba run -n ara python -V

      - name: Lint with Ruff
        run: micromamba run -n ara ruff check . --output-format=full

      - name: Test with pytest
        run: micromamba run -n ara pytest -v tests/

